extends layout

block content
  div.container-fluid
    h1.center-align Chromosome &amp; Variants
    div.row.justify-content-md-center
      div.col-md-4.div.col-md-offset-4
        table.table.table-striped.table-bordered
          thead.thead-dark
            tr
              th Chromosome
              th # of Variants
          tbody
            each obj in chromosomeVariants
              tr
                td #{obj.chromosome}
                td #{obj.variants}
